//TODO Separate out media queries to end of file

.cta {
  background-image: url('/public/images/_ctas/cta-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cta__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: ($page-padding * 2) $page-padding;

  @media screen and (max-width: $breakpoint-small) {
    flex-direction: column;

    .cta__item {
      margin-left: 0px;
      margin-top: $page-padding;
    }
    .cta__item:first-child {
      margin-top: 0px;
    }
  }
}

.cta__item {
  position: relative;
  top: 0px;
  right: 0px;
  min-height: 200px;
  margin-left: $page-padding;
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cta__item:first-child {
  margin-left: 0px;
}

.cta__filter {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #262626;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.cta__item-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.cta__item img {
  width: 3em;
}

.cta__item h2,{
  color: white;
  text-align: center;
  margin: 0px;

}

.cta__item p,{
  color: white;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
