//TODO featured-employee__header styling
//TODO Maybe make links to employers

.featured-employers {}


.featured-employers__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}


.featured-employers__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.featured-employers__header > a > i {
  vertical-align: baseline;
  font-size: 0.5em;
}


.featured-employers__employer {
  min-height: 100px;
  width: $col2;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $page-padding;

  @media screen and (max-width: $breakpoint-medium) {
    width: $col4;
  }

  @media screen and (max-width: $breakpoint-small) {
    width: $col6;
  }

  @media screen and (max-width: $breakpoint-x-small) {
    width: $col12;
  }

}


.featured-employers__img {
  width: 100%;
  border: solid lightgrey 3px;
}

//TODO Find out why the chuff targeting first:child doesn't work
.featured-employers__employer:nth-child(2) {
  align-items: flex-start;
}

.featured-employers__employer:last-child {
  align-items: flex-end;
}


//This lot is to get push out the img elements to the outside of their flexboxes.
//EDIT: Since now using calculated column widths seems this isn't necessary.
//TODO confirm the above then delete.
@media screen and (max-width: $breakpoint-medium) {
  @for $i from 0 through $n-featured-employers {
    @if $i % 3 == 0 {
      .featured-employers__employer:nth-child(#{$i - 1}) {
        align-items: flex-start;
      }
    }
    @if ($i + 1) % 3 == 0 {
      .featured-employers__employer:nth-child(#{$i - 1}) {
        align-items: flex-end;
      }
    }
  }
}


@media screen and (max-width: $breakpoint-small) {
  @for $i from 0 through $n-featured-employers {
    @if $i % 2 == 0 {
      .featured-employers__employer:nth-child(#{$i}) {
        align-items: flex-start;
      }
    }
    @if ($i + 1) % 2 == 0 {
      .featured-employers__employer:nth-child(#{$i}) {
        align-items: flex-end;
      }
    }
  }
}


@media screen and (max-width: $breakpoint-x-small) {
  .featured-employers__employer > img{
    align-self: center;
    margin: 0px;
    width: 100%;
  }
}

//Temp - can delete
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}
