//TODO Move media queries to bottom and get rid of repeated.
//TODO Rejiggle markup & 
//TODO Rewrite to use calculated col widths from variables.scss

.jobs-browser {
  background-color: #f0f0f0;
}

.jobs-browser__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media screen and (max-width: $breakpoint-small) {
      flex-direction: column;
  }
}

.jobs-browser__left {
  flex: 1 1 66%;
  margin-right: $page-padding;

  @media screen and (max-width: $breakpoint-medium) {
    flex: 1 1 50%;
  }
}

.jobs-browser__right {
  flex: 1 1 33%;

  @media screen and (max-width: $breakpoint-medium) {
    flex: 1 1 50%;
  }
}

.jobs-browser__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 2em;
}

.jobs-browser__left-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  @media screen and (max-width: $breakpoint-medium) {
    flex-direction: column;
  }
}

.jobs-browser__jobs {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jobs-browser__jobs-item {
  flex: 1 1 50%;
  margin-bottom: 1em;
}

//BEM this
.jobs-browser__jobs-item > a, .jobs-browser__jobs-item > p {
  display: inline-block;
}

//BEM this
.jobs-browser__jobs-item > p {
  margin: 0px;
  color: grey;
}

//BEM this
.jobs-browser__header > a > i {
  vertical-align: baseline;
  font-size: 0.5em;
}



.featured-jobs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-jobs__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 2em;
}

.featured-jobs__img {
  height: 80px;
  margin-right: $page-padding;
}

.featured-jobs__data {
  flex: 1 1 60%;
}

.featured-jobs__link, .featured-jobs__location, .featured-jobs__salary {
  padding: 0px;
  margin: 0px;
}
