//LARGE DISPLAY
.jobs-browser {background-color: #f0f0f0;}

.jobs-browser__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $page-padding / 2;
  margin-bottom: $page-padding / 2;
}

//TODO finish using col variables to determine width and look at whether can
//remove some flex
.jobs-browser__left {
  //flex: 1 1 66%;
  margin-right: $page-padding;
  //temp
  width: $col8;
}

.jobs-browser__right {
  //flex: 1 1 33%;
  //temp
  width: $col4;
}

.jobs-browser__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.jobs-browser__left-layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.jobs-browser__jobs {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jobs-browser__jobs-item {
  flex: 1 1 50%;
  margin-bottom: 1em;
}

.jobs-browser__jobs-item > a, .jobs-browser__jobs-item > p {
  display: inline-block;
}

.jobs-browser__jobs-item > p {
  margin: 0px;
  color: grey;
}

.jobs-browser__header > a > i {
  vertical-align: baseline;
  font-size: 0.5em;
}

.featured-jobs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featured-jobs__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: $page-padding;
}

.featured-jobs__img {width: calc(#{50%} - #{$page-padding / 2});}

.featured-jobs__data {width: calc(#{50%} - #{$page-padding / 2});}

.featured-jobs__link, .featured-jobs__location, .featured-jobs__salary {
  padding: 0px;
  margin: 0px;
}


//MEDIUM DISPLAY
@media screen and (max-width: $breakpoint-medium) {
  .jobs-browser__left-layout {flex-direction: column;}
  .jobs-browser__left {flex: 1 1 $col4;}
  .jobs-browser__right {flex: 1 1 $col8;}
  .jobs-browser__header {
    flex-direction: column;
    > a {align-self: flex-end;}
  }
}

//SMALL DISPLAY
@media screen and (max-width: $breakpoint-small) {
  .jobs-browser__layout {flex-direction: column;}
  .jobs-browser__left {
    width: 100%;
    font-size: 1.2em;
  }
  .jobs-browser__right {width: 100%;}
  .jobs-browser__header {
    flex-direction: row;
    > a {align-self: baseline;}
  }
  .featured-jobs__link, .featured-jobs__location, .featured-jobs__salary {font-size: 1.5em;}
}

//X-SMALL DISPLAY
