//LARGE DISPLAY
.page-nav {
  text-align: right;
}

#page-nav__menu-wrapper {
  text-align: right;
  transition: height 0.3s ease-in;
  margin-bottom: $page-padding;
}

.page-nav__list {
  display: flex;
  flex-direction: row;
  right: $nav-menu-width-medium;
  align-items: center;
  transition: margin-right 0.3s ease-in;
  height: 100%;
  overflow: hidden;
}

.page-nav__item {
  display: inline-block;
  font-family: "ProximaNova";
  font-weight: 600;
  font-size: 1em;
  width: 120px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 4px;
  a {text-decoration: none;}
  flex: 1 0 auto;
}

.page-nav__item:hover {
  background-color: $color-brand;
  color: #fff;
  font-weight: 200;
}

#page-nav__expand-toggle {
  display: none;
}

#page-nav__menu-button {
  display: none;
  font-size: 2em;
  padding: 0px 10px;
  color: #fff;
  background-color: $color-brand;
  border-radius: 6px;
}

#page-nav__expand-toggle:checked ~ #page-nav__menu-wrapper {
  height: auto;
}

#page-nav__expand-toggle:not(checked) ~ #page-nav__menu-wrapper {
  height: auto;
}

#page-nav__expand-toggle:checked ~ #page-nav__menu-wrapper .page-nav__list {
  margin-right: 0px;
}

#page-nav__expand-toggle:not(checked) ~ #page-nav__menu-wrapper .page-nav__list {
  margin-right: 0px;
}

//MEDIUM DISPLAY
@media screen and (max-width: $breakpoint-medium) {
  #page-nav__menu-button {display: inline-block;}

  .page-nav__list {
    flex-direction: column;
    justify-content: space-between;
    width: $nav-menu-width-medium;
    color: #fff;
    background-color: $color-brand;
  }

  .page-nav__item {
    width: 100%;
    border-radius: 0;
  }

  .page-nav__item:hover {
    background-color: $color-brand-tint;
    color: $color-brand;
    font-weight: 200;
  }

  #page-nav__expand-toggle:checked ~ #page-nav__menu-wrapper {
    height: 18em;
  }

  #page-nav__expand-toggle:not(checked) ~ #page-nav__menu-wrapper {
    height: 0px;
  }

  #page-nav__expand-toggle:checked ~ #page-nav__menu-wrapper .page-nav__list {
    margin-right: 0px;
  }

  #page-nav__expand-toggle:not(checked) ~ #page-nav__menu-wrapper .page-nav__list {
    margin-right: 0- $nav-menu-width-medium - $page-padding;
  }

  #page-nav__expand-toggle:checked ~ #page-nav__menu-button {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

//X-SMALL DISPLAY
@media screen and (max-width: $breakpoint-x-small) {
  .page-nav {width: 100%;}
  .page-nav__list {width: 100%;}
  .page-nav__nav-list {width: 100%;}
}
