.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  position: relative;

  @media screen and (max-width: $breakpoint-small) {
    .no-js & {
      display: block;
    }
  }

  a:not(.button) {
    color: inherit;
  }
}

.page-header__logo {
  max-width: 190px;

  @media screen and (max-width: $breakpoint-small) {
    width: 40%;
  }
}

// TODO: move this
.page-nav {
  @media screen and (max-width: $breakpoint-small) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: $page-padding;

    > .page-nav__item {
      //display: none;

    }

    .no-js & > .page-nav__item {
      display: block;
      margin: 10px 0 10px;
    }
  }

  @media screen and (max-width: $breakpoint-x-small) {
    > .page-nav__item {
      display: none;
    }

  }
}

.page-nav__item {
  display: inline-block;
  font-family: "ProximaNova";
  font-weight: 600;
  font-size: 1.1rem;
  width: 120px;
  padding: 10px 0px;
  text-align: center;
  border-radius: 4px;

  a {
    text-decoration: none;
  }

  @media screen and (max-width: 895px) {
    margin-left: 18px;
  }
}

.page-nav__item:hover {
  background-color: $color-brand;
  color: white;
  font-weight: 200;
}
