.page-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: $page-padding 0px 0px 0px;
  position: relative;
  padding-bottom: 0px;

  @media screen and (max-width: $breakpoint-small) {
    .no-js & {
      display: block;
    }
  }

  a:not(.button) {
    color: inherit;
  }
}

.page-header__logo {
  max-width: 190px;

  @media screen and (max-width: $breakpoint-small) {
    width: 40%;
  }
}

@media screen and (max-width: $breakpoint-x-small) {
  .page-header {flex-direction: column;}
}
