.section-one {
  background-image: url('/public/images/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
  position: relative;
}

.section-one__layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-one__layout-upper {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-one__layout-lower {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.section-one__layout-upper > h1, .section-one__layout-upper > p {
  color: white;
  margin: 0px;
  padding: 0px;
  z-index: 2;

  @media screen and (max-width: $breakpoint-small) {
    margin: 0px $page-padding * 2;
    text-align: center;
  }
}

.section-one__layout-upper > h1 {
  font-size: 3em;
}

.section-one__layout-upper > p {
  font-size: 1.5em;
}

.section-one__upper-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
  z-index: 1;
}

.section-one__lower-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
}

.section-one__form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;

  @media screen and (max-width: $breakpoint-small) {
    flex-direction: column;
    align-items: center;

    .section-one__form-element {
      flex: 0 0 auto;
      width: 80%;
      margin: 0.5em 0px;
      max-width: 400px;
    }
  }

  @media screen and (max-width: $breakpoint-x-small) {
    .section-one__form-element {
      width: $col12;
    }
  }
}

.section-one__form-element {
  flex: 1 1 auto;
  padding: 0.5em 0.5em;
  margin: 2em 0px 2em 1.5em;
  border-radius: 4px;
  box-sizing: border-box;
}

.section-one__form-element:first-child {
  margin-left: 0px;
}

.section-one__text-input {
  flex: 1 0 auto;
}

.section-one__dropdown, .section-one__submit {
  flex: 0 0 200px;
}
