{% extends 'layouts/furniture.njk' %}

{% block content %}
  {% include 'includes/section-one.njk' %}

  {% include 'includes/jobs-browser.njk' %}

  {% include 'includes/cta.njk' %}

  {% include 'includes/featured-employers.njk' %}

  {% include 'includes/careers-advice.njk' %}

  <section class="section-six">
  </section>
{% endblock %}
