{% extends 'layouts/furniture.njk' %}

{% block content %}
  {% include 'includes/section-one.njk' %}

  {% include 'includes/jobs-browser.njk' %}

  {% include 'includes/benefits.njk' %}

  <section class="section-four">
  </section>

  <section class="section-five">
  </section>

  <section class="section-six">
  </section>

  <section class="section-seven">
  </section>
{% endblock %}
