<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title | default(pageTitle) }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/styles.css" />
    <!--TODO Try and not download entire FA library-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="/public/js/script.js"></script>
    {% block head %}{% endblock %}
  </head>

  <body>
    {% block bodyStart %}{% endblock %}
    <div class="container">
      <p class="skip-to-content"><a accesskey="S" title="Access key: S" href="#main">Skip to main content</a></p>


      <div class="page-layout">
        {% block header %}
        <header>
          <div class="account-bar">
              <div class="wrapper">
                  <div class="account-bar__inner">
                      <a href="#">Visit PxlPro.com</a>
                      <div>
                          <a href="#">Sign in</a>
                          <a href="#" class="u-hide-x-small">Create account</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="wrapper">
              <div class="page-header">
                  <img src="{{ assetPath }}/images/logo.png" alt="Pxl Pro Jobs Logo" class="page-header__logo">
                  {% include 'includes/navigation.njk' %}
              </div>
          </div>
        </header>
        {% endblock %}


        {% block main %}
        <main role="main" class="main" id="main">
          {% block content %}{% endblock %}
        </main>
        {% endblock %}


        {% block footer %}
        <footer class="footer" id="footer">
          <div class="footer__upper">
            <div class="wrapper">
              <ul class="u-reset-list footer__nav">
              {% for item in footerNavItems %}
                <li class="footer__nav-item"><a href="{{ item.href }}">{{ item.label }}</a></li>
              {% endfor %}
              </ul>
            </div>
          </div>

          <div class="social-media-bar">
            <div class="wrapper">
              <div class="social-media-bar__layout">
                <p class="social-media-bar__copyright"><span class="social-media-bar__copyright-icon"><i class="far fa-copyright"></span></i> 2016. Powered by Madgex</p>
                <ul class="u-reset-list social-media-bar__nav">
                  <li class="social-media-bar__nav-item"><a href='#'><i class="fab fa-facebook-square"></i></a></li>
                  <li class="social-media-bar__nav-item"><a href='#'><i class="fab fa-twitter"></i></a></li>
                  <li class="social-media-bar__nav-item"><a href='#'><i class="fab fa-google-plus-g"></i></a></li>
                  <li class="social-media-bar__nav-item"><a href='#'><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
        {% endblock %}


      </div>
    </div>
    {% block bodyEnd %}{% endblock %}
  </body>
</html>
