<section class="careers-advice">
  <div class="wrapper careers-advice__wrapper">

    <div class="careers-advice__content careers-advice__advert">
      <a href='#'><img class="careers-advice__featured-advert-img" src="{{ assetPath }}/images/mpu.png" alt="Treehouse advert"></a>
    </div>

    <div class="careers-advice__content careers-advice__primary-article-a">
      <h2 class="careers-advice__header">Careers advice</h2>
      <img src="{{ assetPath }}/images/_careers-advice/article1.png" alt="Careers advice article"></img>
    </div>

    <div class="careers-advice__content careers-advice__primary-article-b">
      <div class="careers-advice__header"><a href='#'>View all articles <i class="fas fa-angle-double-right"></i></a></div>
      <a href='#'><h3>An introduction into ecommerce and the mobile revolution</h3></a>
      <p>There are many ways to market a product or a service and providing
        the potential clients and customers with testimonials is one of the best.
      </p>
    </div>

    <div class="careers-advice__content careers-advice__post-job">
      <div class="careers-advice__post-job-filter"></div>
      <div class="careers-advice__post-job-content">
        <h3>Advertise with us</h3>
        <ul class="u-reset-list careers-advice__advertising-benefits">
          <li>Post jobs and monitor your applications</li>
          <li>Search our extensive candidate database</li>
          <li>Filter applications with screening questions</li>
        </ul>
        <button class="button-1">Post a job</button>
      </div>
    </div>

    <div class="careers-advice__content careers-advice__content-5">

    </div>

    <div class="careers-advice__content careers-advice__content-6">

    </div>

  </div>
</section>



<!--
<div class="careers-advice__left-content">
  <div class="careers-advice__featured-advert">
    <img class="careers-advice__featured-advert-img" src="{{ assetPath }}/images/mpu.png" alt="Treehouse advert">
  </div>

  <div class="careers-advice__post-job">
    <h3>Advertise with us</h3>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <button>Post a job</button>
  </div>
</div>


<div class="careers-advice__right-content">

  <div class="careers-advice__right-top-content">
    <div class="careers-advice__header">
      <h2>Careers advice</h2>
      <a href='#'>View all articles</a>
    </div>

    <div class="careers-advice__primary-article">
      <img src="{{ assetPath }}/images/_careers-advice/article1.png" alt="Careers advice article"></img>
      <div>
        <a href='#'>
          <h3>An introduction into ecommerce and the mobile revolution</h3>
        </a>
        <p>There are many ways to market a product or a service and providing
          the potential clients and customers with testimonials is one of the best.
        </p>
      </div>
    </div>
  </div>

  <div class="careers-advice__right-bottom-content">
    <div class="careers-advice__secondary-articles">
    </div>
  </div>

</div>
-->
