<section class="careers-advice">
  <div class="wrapper careers-advice__wrapper">

    <div class="careers-advice__content careers-advice__advert">
      <a href='#'><img class="careers-advice__featured-advert-img" src="{{ assetPath }}/images/mpu.png" alt="Treehouse advert"></a>
    </div>

    <div class="careers-advice__content careers-advice__primary-article-a">
      <h2 class="careers-advice__header">Careers advice</h2>
      <img src="{{ assetPath }}/images/_careers-advice/article1.png" alt="Careers advice article 1"></img>
    </div>

    <div class="careers-advice__content careers-advice__primary-article-b">
      <div class="careers-advice__header"><a href='#'>View all articles <i class="fas fa-angle-double-right"></i></a></div>
      <a href='#'><h3>An introduction into ecommerce and the mobile revolution</h3></a>
      <p>There are many ways to market a product or a service and providing
        the potential clients and customers with testimonials is one of the best.
      </p>
    </div>

    <div class="careers-advice__content careers-advice__post-job">
      <div class="careers-advice__post-job-filter"></div>
      <div class="careers-advice__post-job-content">
        <h3>Advertise with us</h3>
        <ul class="u-reset-list careers-advice__advertising-benefits">
          <li>Post jobs and monitor your applications</li>
          <li>Search our extensive candidate database</li>
          <li>Filter applications with screening questions</li>
        </ul>
        <button class="button-1">Post a job</button>
      </div>

      <div class="careers-advice__post-job-dummy-content">
        <h3>Advertise with us</h3>
        <ul class="u-reset-list careers-advice__advertising-benefits">
          <li>Post jobs and monitor your applications</li>
          <li>Search our extensive candidate database</li>
          <li>Filter applications with screening questions</li>
        </ul>
        <button class="button-1">Post a job</button>
      </div>
    </div>

    <div class="careers-advice__content careers-advice__secondary-articles-a">
      <div class="careers-advice__secondary-article">
        <img class="careers-advice__secondary-article-img"src="{{ assetPath }}/images/_careers-advice/article2.png" alt="Careers advice article 2">
        <a href='#'><h3>The pros and cons of taking a digital detox in the modern age</h3></a>
      </div>
      <div class="careers-advice__secondary-article">
        <img class="careers-advice__secondary-article-img"src="{{ assetPath }}/images/_careers-advice/article3.png" alt="Careers advice article 3">
        <a href='#'><h3>Why should your company value user experience research?</h3></a>
      </div>
    </div>

    <div class="careers-advice__content careers-advice__secondary-articles-b">
      <div class="careers-advice__secondary-article">
        <img class="careers-advice__secondary-article-img"src="{{ assetPath }}/images/_careers-advice/article4.png" alt="Careers advice article 4">
        <a href='#'><h3>We're in the age of big data. But it's what you do with it that matters.</h3></a>
      </div>
      <div class="careers-advice__secondary-article">
        <img class="careers-advice__secondary-article-img"src="{{ assetPath }}/images/_careers-advice/article5.png" alt="Careers advice article 5">
        <a href='#'><h3>Industry focus: A look inside Invision's studio in California</h3></a>
      </div>
    </div>

  </div>
</section>
