<!--NB Couldn't get includes to work with svgs in their current directory.
Maybe because the relative pathing can only go as high as the where the
root html is. There maybe downsides to using img tags for svgs-->

<section class="cta">
  <div class="wrapper cta__layout">

    <div class="cta__item">
      <div class="cta__filter"></div>
      <div class="cta__item-contents">
        <img src="{{ assetPath }}/images/_ctas/icon_email.svg" >
        <h2>Get instant job alerts</h2>
        <p>Personalised job recommendations sent straight to your email.</p>
      </div>
    </div>

    <div class="cta__item">
      <div class="cta__filter"></div>
      <div class="cta__item-contents">
        <img src="{{ assetPath }}/images/_ctas/icon_profile.svg" >
        <h2>Create an account for free</h2>
        <p>Shortlist jobs, manage your job alerts and receive special offers.</p>
      </div>
    </div>

    <div class="cta__item">
      <div class="cta__filter"></div>
      <div class="cta__item-contents">
        <img src="{{ assetPath }}/images/_ctas/icon_upload.svg" >
        <h2>Upload your resume</h2>
        <p>Upload your resume so our employers can match your details to the best jobs.</p>
      </div>
    </div>

  </div>
</section>
