<section class="cta">
  <div class="wrapper cta__layout">

    <div class="cta__item">
      <div class="cta__filter"></div>
      <div class="cta__item-contents">
        <i class="far fa-envelope"></i>
        <h2>Get instant job alerts</h2>
        <p>Personalised job recommendations sent straight to your email.</p>
      </div>
    </div>

    <div class="cta__item">
      <div class="cta__filter"></div>
      <div class="cta__item-contents">
        <i class="far fa-user"></i>
        <h2>Create an account for free</h2>
        <p>Shortlist jobs, manage your job alerts and receive special offers.</p>
      </div>
    </div>

    <div class="cta__item">
      <div class="cta__filter"></div>
      <div class="cta__item-contents">
        <i class="fas fa-upload"></i>
        <h2>Upload you resume</h2>
        <p>Upload your resume so our employers can match your details to the best jobs.</p>
      </div>
    </div>

  </div>
</section>
