<section class="featured-employers">
  <div class="wrapper">
    <div class="featured-employers__content">

      <div class="featured-employers__header col-12">
        <h1>Featured Employers</h1>
        <a href='#'>View all employers</a>
      </div>

      <div class="featured-employers__item col-2 red"></div><!--
   --><div class="featured-employers__item col-2 green"></div><!--
   --><div class="featured-employers__item col-2 blue"></div><!--
   --><div class="featured-employers__item col-2 red"></div><!--
   --><div class="featured-employers__item col-2 green"></div><!--
   --><div class="featured-employers__item col-2 blue"></div>

    </div>
  </div>
</section>
