<section class="featured-employers">
  <div class="wrapper">
    <div class="featured-employers__content">

      <div class="featured-employers__header col-12">
        <h1>Featured Employers</h1>
        <a href='#'>View all employers</a>
      </div>

      <div class="featured-employers__item red">
        <img class="featured-employers__img" src="{{ assetPath }}/images/_employers/agstar.png" alt="Featured employer logo">
      </div>
      <div class="featured-employers__item blue">
        <img class="featured-employers__img" src="{{ assetPath }}/images/_employers/citi.png" alt="Featured employer logo">
      </div>
      <div class="featured-employers__item green">
        <img class="featured-employers__img" src="{{ assetPath }}/images/_employers/ford.png" alt="Featured employer logo">
      </div>
      <div class="featured-employers__item orange">
        <img class="featured-employers__img" src="{{ assetPath }}/images/_employers/ioxus.png" alt="Featured employer logo">
      </div>
      <div class="featured-employers__item yellow">
        <img class="featured-employers__img" src="{{ assetPath }}/images/_employers/nike.png" alt="Featured employer logo">
      </div>
      <div class="featured-employers__item pink">
        <img class="featured-employers__img" src="{{ assetPath }}/images/_employers/oracle.png" alt="Featured employer logo">
      </div>

    </div>
  </div>
</section>
