<section class="final-section">
  <div class="wrapper final-section__wrapper">

    <div class="final-section__content final-section__about-us">
      <h2>About us</h2>
      <p>
        Differentiate and you stand out in a crowded marketplace. Present your
        uniqueness and emphasize your rare abilities in your sales copy and
        promotions and you'll capture the imagination and interest of those you
        want to reach. In a world of copycats, it pays to be an original. It's
        usually the creator of a new concept who gets the most.
      </p>
    </div>

    <div class="final-section__content final-section__app-download">
      <div>
        <h2>Download our new app</h2>
        <p>
          Easily manage your job search on the go with our iPhone app. Instant
          job notifications. Search, shortlist and apply.
        </p>
        <a href='https://www.apple.com/uk/ios/app-store/'><img src="{{ assetPath }}/images/app-store.png"></a>
      </div>
      <img src="{{ assetPath }}/images/mobile-app.png" alt="Download app">
    </div>

    <div class="final-section__content final-section__featured-campaigns">
      <h2>Featured campaigns</h2>
      <ul>
        <li><a href='#'>Jobs in the United State</a></li>
        <li><a href='#'>Management jobs in New York</a></li>
        <li><a href='#'>Graduate jobs</a></li>
        <li><a href='#'>Engineering jobs in Chicago</a></li>
        <li><a href='#'>Jobs in California</a></li>
      </ul>
      <a href='#'>View more <i class="fas fa-angle-double-right"></i></a>
    </div>

  </div>
</section>
