<nav class="page-nav">

  <input id="page-nav__expand-toggle" type="checkbox">
  <label id="page-nav__menu-button" for="page-nav__expand-toggle"><img src="{{ assetPath }}/images/_nav/bars.svg"></label>

  <div id="page-nav__menu-wrapper">

    <ul class="u-reset-list page-nav__list">
    {% for item in navItems %}
        <li class="page-nav__item"><a href="{{ item.href }}">{{ item.label }}</a></li>
    {% endfor %}
    </ul>
  </div>

</nav>
