<nav class="page-nav">
<!--
  <input id="page-nav__expand-toggle" type="checkbox" />
  <label id="page-nav__menu-button" for="page-nav__expand-toggle">Nav Menu</label>

  <ul class="u-reset-list page-nav__list">
  {% for item in navItems %}
      <li class="page-nav__item"><a href="{{ item.href }}">{{ item.label }}</a></li>
  {% endfor %}
  </ul>
-->
  <input id="page-nav__expand-toggle" type="checkbox" />
  <label id="page-nav__menu-button" for="page-nav__expand-toggle"><i class="fas fa-bars"></i></label>

  <div id="page-nav__menu-wrapper">

    <ul class="u-reset-list page-nav__list">
    {% for item in navItems %}
        <li class="page-nav__item"><a href="{{ item.href }}">{{ item.label }}</a></li>
    {% endfor %}
    </ul>
  </div>

</nav>


<!--Before start making small screen nav
<nav>
    <ul class="u-reset-list page-nav">
    {% for item in navItems %}
        <li class="page-nav__item"><a href="{{ item.href }}">{{ item.label }}</a></li>
    {% endfor %}
    </ul>
</nav>
-->
