$color-brand: #0079c0;
$color-secondary: #f12e58;
$color-brand-tint: #e4f4fc;
$color-grey: #f0f0f0;
$breakpoint-x-small: 460px;
$breakpoint-small: 825px;
$breakpoint-medium: 1100px;
$spacing-unit: 20px;
$page-padding: $spacing-unit;

$color-footer-bg: #434243;
$color-footer-font: #c9c9c9;

$col-width-1: percentage(1/12);
$col-width-2: percentage(2/12);
$col-width-3: percentage(3/12);
$col-width-4: percentage(4/12);
$col-width-6: percentage(6/12);
$col-width-8: percentage(8/12);
$col-width-9: percentage(9/12);
$col-width-12: percentage(12/12);

$n-featured-employers: 6;
$col1: calc(#{percentage(1/12)} - #{$page-padding * 11 / 12});
$col2: calc(#{percentage(2/12)} - #{$page-padding * 10 / 12});
$col3: calc(#{percentage(3/12)} - #{$page-padding * 9 / 12});
$col4: calc(#{percentage(4/12)} - #{$page-padding * 8 / 12});
$col5: calc(#{percentage(5/12)} - #{$page-padding * 7 / 12});
$col6: calc(#{percentage(6/12)} - #{$page-padding * 6 / 12});
$col7: calc(#{percentage(7/12)} - #{$page-padding * 5 / 12});
$col8: calc(#{percentage(8/12)} - #{$page-padding * 4 / 12});
$col9: calc(#{percentage(9/12)} - #{$page-padding * 3 / 12});
$col10: calc(#{percentage(10/12)} - #{$page-padding * 2 / 12});
$col11: calc(#{percentage(11/12)} - #{$page-padding * 1 / 12});
$col12: percentage(12/12);
